.btn-ogs,
.btn-ogs:focus,
.btn-ogs:visited {
    background-color: #14CFA0 !important;
    color: #fff;
}

.btn-ogs:hover {
    background-color: #fff !important;
    color: #14CFA0;
}

.btn-outline-ogs {
    background-color: transparent;
    color: #14CFA0;
    border-color: #14CFA0;
}

.btn-outline-ogs:hover {
    background-color: #14CFA0;
    color: #fff;
    border-color: #14CFA0;
}