.img-full {
  object-fit: cover;
  max-width: 100vw;
  width: 100%;
  height: 100vh;
}

.bg-banner {
  background: url(/nw_banner.jpg) center left;
  background-size: cover;
}

.bg-section-1 {
  background: url(/ogs_2.jpg) center right;
  background-size: cover;
}

.bg-guitars {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(/ogs_guitars.png) center;
}

.bg-strat {
  background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url("../images/ogs_guitar_neck.png") center;
  background-size: cover;
}

.bg-texture {
  background: linear-gradient(rgba(255, 255, 255, 0.94), rgba(255, 255, 255, 0.94)), url("../images/ogs_bg_vord.png") center;
  background-size: cover;
}
