@import "~bootstrap/scss/bootstrap";
@import "~aos/dist/aos.css";
@import "./animation.scss";
@import "./flex.scss";
@import "./utilities.scss";
@import "./text.scss";
@import "./menu.scss";
@import "./images.scss";
@import "./colors.scss";

body {
    background: rgba(0,0,0,0.05);
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    overflow-x: hidden;
}

a,
footer li {
    transition: all .2s ease-in-out;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

footer a, 
footer li {
    @extend .ogs-green;
}

footer li:hover {
    opacity: 0.7;
    cursor: pointer;
}

ul {
    padding-left: 1rem;
    list-style-type: square;
}

ul li::marker {
    color: grey; /* Change the color */
    font-weight: light; /* If you want it to be bold */
    width: 1em; /* Also needed for space (tweak if needed) */
  }

  footer ul {
      @extend .list-unstyled;
      font-size: 1.25rem;
  }

  .form-control::-webkit-input-placeholder {
    color: lightgrey;
  }