@import "~bootstrap/scss/bootstrap";
@import "./flex.scss";
@import "./utilities.scss";
@import "./text.scss";
@import "./menu.scss";
@import "./images.scss";
@import "./colors.scss";

body {
    // background: pink;
}

ul {
    padding-left: 1rem;
    list-style-type: square;
}

ul li::marker {
    color: grey; /* Change the color */
    font-weight: light; /* If you want it to be bold */
    width: 1em; /* Also needed for space (tweak if needed) */
  }

  footer ul {
      @extend .list-unstyled;
      font-size: 1.25rem;
  }
